<section class="section padding">
    <div class="section__container">
    <div class="section__item" s18n>
        Aegon Group – це одна з найбільших страхових груп у світі із головним офісом у Гаазі (Королівство Нідерландів). Історія групи бере свій початок у першій половині 19 століття, при цьому бренд Aegon виник у 1983 році завдяки злиттю двох голландських страхових компаній, Ago та Ennia.
    </div>
    <img  class="logo" src="/img/eagon.png" alt="">
    <div class="section__item" s18n>
        Aegon присутня на 25 ринках Європи, Америки та Азії, при цьому ключовими ринками для. Групи є Нідерланди, Великобританія та США (де група працює під брендом Transamerica). У регіоні Центральної та Східної Європи Aegon розпочала свою діяльність із виходу на ринок Угорщини у 1992 році. Сьогодні вона представлена в Чехії, Угорщині, Польщі, Румунії, Словаччині, Турції та Україні. 
     </div>
    <div class="section__item" s18n>
        Більш ніж 28 000 співробітників Aegon допомагають мільйонам клієнтів взяти на себе відповідальність за своє фінансове майбутнє, надаючи рішення у сфері страхування життя, пенсійному забезпеченні та управлінні активами. Загалом група управляє більш ніж 538 млрд. EUR власних та клієнтських інвестицій.
    </div>
    <div class="section__item" s18n>
        Aegon Group має найвищу рейтингову оцінку фінансової стабільності S&amp;P – «АА». За результатами щорічного рейтингу Global Leading Companies Rating авторитетного видання Forbes група входить до ТОП-15 світових лідерів зі страхування життя.
    </div>
    </div>
</section>