<section class="section padding">
    <div class="section__container">
    <div class="section__description" s18n>
        NPZ life співпрацює виключно з компаніями, які ведуть успішну діяльність та користуються міжнародною позитивною репутацією
    </div>
    <div>
        <img class="logo" src="/img/cli.png" alt="">
        <div class="section__item" s18n>
            ПРИВАТНЕ АКЦІОНЕРНЕ ТОВАРИСТВО "СТРАХОВА КОМПАНІЯ "КЛАСИК СТРАХУВАННЯ ЖИТТЯ" працює на українському ринку страхування життя з 2005 року, як правонаступник компаній ЗАТ "Чеська страхова компанія Україна - Страхування життя" (до квітня 2009 року) і ВАТ "Дженералі Страхування Життя" (до березня 2013 року).
        </div>
        <div class="section__item padding">
            <p s18n>Компанія пропонує своїм клієнтам широкий спектр програм індивідуального і корпоративного страхування життя:</p>
            <ul>
                <li s18n>довгострокове накопичувальне страхування</li>
                <li s18n>пенсійне страхування</li>
                <li s18n>страхування життя позичальника</li>
                <li s18n>додаткові види страхування від нещасних випадків і захворювань</li>

            </ul>
            <p s18n>
                Ексклюзивний набір ризиків, гнучка тарифна політика, широкий вибір валюти страхування, індивідуальний підхід до клієнта і простота в оформленні програм - усе це складає унікальність програм страхування СК "КЛАСИК СТРАХУВАННЯ ЖИТТЯ".
            </p>
        </div>
        <div class="section__item" s18n>
            Свою діяльність СК "КЛАСИК СТРАХУВАННЯ ЖИТТЯ" здійснює через офіційних партнерів по продажах. На сьогодні Компанія співпрацює з більш ніж 20 посередниками по страхуванню життя, а також рядом найбільших банків і фінансових установ, що дозволяє компанії обслуговувати клієнтів в усіх регіонах України. У корпоративному секторі Компанія співпрацює з найбільшою глобальною світовою мережею Emdivloyee Benefit - GEB (Бельгія). СК "Класик Страхування життя" перестраховує ризики в одній з найбільших перестрахувальних компаній світу -SCOR Global Life (Франція).
        </div>
       <div class="section__item" s18n>
           <h2 class="header" s18n>місія компанії</h2>
           <p s18n>
                Надавати клієнтам найкращий сервіс, шляхом побудови довгострокових стосунків,  на підґрунті прозорості і довірі.
           </p>
       </div>
        <div class="section__item" s18n>
            <h2 class="header" s18n>ліцензія</h2>
            <p s18n>Свою діяльність ЧАО "СК "КЛАСИК СТРАХУВАННЯ ЖИТТЯ" веде відповідно до безстрокової ліцензії серії АЕ№284385, виданої Національною комісією з регулювання ринків фінансових послуг України.</p>
             <img class="certificate" src="/img/cli_1.png" alt="">
             <img class="certificate" src="/img/cli_2.png" alt="">

        </div>
        <div class="section__item clirfix">
            <h2 class="header" s18n>оцінки експертів</h2>
            <p s18n>
                У 2012 році за даними журналу «Insurance Todiv», страхова компанія "КЛАСИК СТРАХУВАННЯ ЖИТТЯ" стала лідером рейтингу Insurance Todiv, зайнявши позицію №1 по класу: "Корпоративне страхування". Компанія охопила 34 % ринку у цьому секторі.
            </p>

        </div>
    </div>
</div>
</section>