<section class="footer clearfix" >
    <div class="footer__container">
        <ul class="footer__socials">
            <li class="item">
                <a href="http://www.mlsp.gov.ua/control/uk/index" target="_blank">
                    <img class="low" src="/img/1.jpg" alt="">
                </a>
            </li>
            <li class="item">
                <a href="http://www.pfu.gov.ua/" target="_blank">
                    <img class="low" src="/img/2.jpg" alt="">
                </a>
            </li>
            <!--<li class="item">-->
                <!--<a href="mailto:mynpzlife@gmail.com" target="_blank">-->
                    <!--<img  src="/img/icons/gmail.png" alt="">-->
                <!--</a>-->
            <!--</li>-->
            <li class="item">
                <a href="http://nfp.gov.ua/" target="_blank">
                    <img class="low" src="/img/3.jpg" alt="">
                </a>
            </li>
            <li class="item">
                <a href="http://www.ssmsc.gov.ua/" target="_blank">
                    <img class="low" src="/img/4.jpg" alt="">
                </a>
            </li>
        </ul>
        <p class="footer__description">
            © 2016 всі права захищено
        </p>
    </div>
</section>