<section class="header">
    <!--<div class="header__top">-->
        <!---->
    <!--</div>-->
    <div class="header__bg">
        <div class="cabinet">
            <a href="http://office.npz.life/" target="_blank" s18n>Особистий Кабінет</a>
            <a class="invest" href="http://euro-invest.org" target="_blank" s18n>
                <img src="/img/invest.png" alt="">
            </a>
        </div>
        <div class="header__container">
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
            <h1 class="header__title" s18n>Гарантія вашого успіху!</h1>

            <div class="header__langs">
                <ul>
                    <li class="item">
                        <a href="/po">
                            <img href="/ru" src="/img/icons/Poland-icon.png" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a href="/ru">
                            <img src="/img/icons/Russia-icon.png" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a href="/">
                            <img src="/img/icons/Ukraine-icon.png" alt="">
                        </a>
                    </li>
                    <!--<li class="item">-->
                        <!--<a href="/en">-->
                        <!--<img src="/img/icons/United-Kingdom-icon.png" alt="">-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>

            </div>
        </div>

    </div>
    <div class="header__bottom">

        <ul class="menu__main">
            <li class="menu__main__item">
                <div class="dropdown">
                    <button class="dropbtn" ui-sref="main"  s18n ui-sref="contacts">Головна</button>
                </div>

            </li>
            <li class="menu__main__item first">
                <div class="dropdown ">
                    <button class="dropbtn"  s18n>Компанія</button>
                    <div class="dropdown-content dropdown-content1" >
                        <a href="#" s18n ui-sref="about" class="link1" onclick="hideMenu()" >Про нас</a>
                        <a href="#" s18n ui-sref="mission" class="link1" onclick="hideMenu()">Місія</a>
                        <!--<a href="#" s18n ui-sref="history">Історія</a>-->
                    </div>
                </div>
            </li>
            <li class="menu__main__item second">
                 <div class="dropdown ">
                    <button class="dropbtn" s18n>Партнери</button>
                    <div class="dropdown-content dropdown-content2" >
                        <a href="#" s18n ui-sref="life" class="link2" onclick="hideMenu()">Classic Life Insuranse</a>
                        <a href="#" s18n ui-sref="aegon" class="link2" onclick="hideMenu()">Aegon</a>
                    </div>
                </div>
            </li>
            <li class="menu__main__item">
                <div class="dropdown">
                    <button class="dropbtn" s18n ui-sref="career" >Кар'єра</button>
                </div>
            </li>
            <li class="menu__main__item">
                <div class="dropdown">
                    <button class="dropbtn" s18n ui-sref="contacts" >Контакти</button>
                 </div>
            </li>
        </ul>


    </div>

</section>