<section class="section">
    <div class="section__container">
        <div class="section__item padding" s18n>
            Кожен громадянин європейської країни турбується про своє майбутнє та майбутнє своїх близьких. Саме тому, на сьогодні, страхування являється однією з найголовніших галузей фінансової економіки.
         </div>
        <div class="videoWrapper">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/r2NkoefwEls?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="section__item" s18n>
            Ми створені для того, щоб розвивати страховий ринок

        </div>
        <div class="section__item" s18n>
            Ми підтримуємо наших клієнтів та партнерів в їх прагненні побудувати успішний бізнес
        </div>
        <div class="section__item" s18n>
            Ми будуємо довгострокові та взаємовигідні стосунки, даючи людям упевненість і зберігаючи їх звичний світ.
         </div>
        <div class="section__item" s18n
            Ми прагнемо бути компанією міжнародного масштабу та значення, яка допоможе змінити відношення до страхування, довівши, що воно може бути засноване на партнерстві та довірі.
        </div>
        <div class="section__item" s18n>
            Будемо раді розділити наші успіхи та досягнення разом з вами!
        </div>
        <p class="section__description padding" s18n>Партнери</p>
        <div class="section__partners">
            <a ui-sref="life">
                <img src="/img/cli.png" alt="">
            </a>
            <a ui-sref="aegon">
                <img src="/img/eagon.png" alt="">
            </a>
        </div>

    </div>
</section>
