<section class="section padding">
    <div class="section__container">
    <div class="section__item">
        ТОВ «НПЗ ЖИТТЯ» 
        <br>
        Юридична адреса:
        <br>
        вул. Проскурівського Підпілля б. 25,
        <br>
        Хмельницький, 29000, Україна 
        <br>
        Телефон:<a href="tel:+380979096162">  +38 (097) 909 61 62 </a>
        <!--<br>-->
        <!--E-mail:  <a href="mailto:centr.npz@gmail.com">centr.npz@gmail.com</a>-->
        <!--<br>-->
        <!--E-mail:  <a href="mailto:admin@npz.life">admin@npz.life</a>-->
    </div>
    <div class="section__item">
        <br>
        ПрАТ «СК»КЛАСІК СТРАХУВАННЯ ЖИТТЯ» 
        <br>
        Адреса: вул. Сирецька, 5, корп.3, Київ, Україна 
        <br>
        Телефон:<a href="tel: +380442000216"> +38 (044) 200 0 216 </a>
        <br>
        Факс:  <a href="tel:+380442000215 ">+38 (044) 200 0 215 </a>
        <br>
        <p>
            E-mail:
            <a href="mailto:office@npz.life">office@npz.life</a>
        </p>
    </div>
    <div class="section__item">
        <br>
        ПРАТ «СК «Ейгон Лайф Україна»
        <br>
        Адреса:﻿04070, Україна, 
        <br>
        м. Київ, вул. Іллінська, 8 
        <br>
        Телефон:<a href="tel:+380445900770">+38 (044) 590 07 70</a>
        <br>
        Факс:  <a href="tel:+380442810933">+38 (044) 281 09 33</a>
        <p>
            E-mail:
            <a href="mailto:life@aegon.ua">life@aegon.ua</a>
        </p>


    </div>
    </div>
</section>