<section class="section padding">
    <div class="section__container">
    <div class="section__item"  s18n>
        Під брендом NPZ Life наша компанія працює на ринку з 2015 року. Наша команда має більше 20 років досвіду роботи на міжнародному страховому ринку.
    </div>
    <div class="section__item"  s18n>
        Головним стандартом та принципом для нас є правильне та відповідальне відношення до клієнта, ділового партнера, співробітника.
    </div>
    <div class="section__item" s18n>
        Саме досвід та особливий професійний підхід до роботи забезпечили високий рівень репутації та довіри до NPZ Life зі сторони партнерів, страхувальників та страхових компаній.
    </div>
    <div class="section__item" s18n>
        Ми існуємо для того, щоб сприяти  формуванню  успішного і  стабільного  Суспільства.
    </div>
        </div>
</section>