<section class="section padding">
    <div class="section__container">
    <img class="logo" src="/img/mission.jpg" alt="">

    <div class="section__item" s18n>
        Наша місія – показати кожній людині шлях до фінансової незалежності та впевненості у майбутньому.
    </div>
    <div class="section__item" s18n>
        Наші цінності - люди!
    </div>
    <div class="section__item" s18n>
        Клієнти – ми індивідуально підходимо до кожного клієнта, враховуючи його потреби та обставини
    </div>
    <div class="section__item" s18n>
        Партнери – ми пропонуємо прогресивні рішення та використовуємо самі сучасні канали взаємодії. Співпрацівники – досвідчені професіонали страхового ринку.
    </div>
    <div class="section__item" s18n>
        Разом ми – фундамент, на якому побудовано NPZ life
    </div>
        </div>
</section>